{% extends "template_layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    <h2>For the DigiScape project</h2>
    <p>This is the index page for an instance of the PROMS (<a href="https://bitbucket.csiro.au/projects/EIS/repos/proms/browse">PROvenance Management System</a>) used to store and manage provenance data for the <a href="https://research.csiro.au/digiscape/">DigiScape project</a>.</p>
    <h3>More About PROMS Server</h3>
    <p>See the <a href="{{ url_for('pages.about') }}">About</a> page.</p>
{% endblock %}