@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url("https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("woff2"); unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	margin: 0 auto;
	text-align: center;
	background-color: rgb(240, 240, 235);
}

.biglink {
    color: rgb(6, 109, 87);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
.biglink:hover {
    text-decoration: underline;
}

#logolink {
    display: block;
    margin-bottom: 15px;
}

#container-header {
	margin: 0 auto;
    margin-top: 15px;
	text-align:left;
	width:894px;
	position:relative;
	height:50px;
}

#container-logo {
    float: left;
}

#container-nav {
    float: right;
}

#container-content {
	margin: 0 auto;
    margin-top: 150px;
	text-align:left;
	width:894px;
	background-color:white;
}

#container-content-2 {
	padding: 20px;
}

h1 {
    padding: 0 0 0 0;
    margin: 0 0 0.2em 0;
    color: rgb(6, 109, 87);
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
}

h2, h3 {
    color: rgb(63, 72, 84);
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
        font-weight: normal;
}

h4, p, li {
    font-family: Verdana, Arial, helvetica, sans-serif;
    font-weight: normal;
}

p, li {
    color: #000000;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 0.2em 0 0.9em
}

p a,
ul li a {
    color: rgb(6, 109, 87);
    font-weight: bold;
    text-decoration: none;
}
p a:hover,
ul li a:hover {
    text-decoration: underline;
}

#footer {
    border-top: solid 1px #eeeeee; /*#3A464F;*/
    padding-top:5px;
}

#footer-external {
    margin: 0 auto;
    width:894px;
	box-shadow: 0 0 10px -8px #CDCDCD inset, 0 10px 10px -8px #CDCDCD inset;
	margin-top: -15px;
	padding-top: 0;
}

#footer-external-links {
    list-style: none outside none;
    font-size: 1em;
    padding: 20px 0 0 2em;
}

#footer-external-links li {
    display: inline;
    margin: 0 5px 0 5px;
    color: #666;
}

#footer-external-links li a {
    color: rgb(6, 109, 87);
}

#nav {
    margin-top: -75px;
    text-align: right;
    border: solid 1px red;
}

#eudm-nav a {
    padding: 3px 5px 3px 5px;
}

.figure {
	text-align: center;
}

.caption {
	font-size: small;
}

.definition {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed;
}

table.lined {
    border: solid 2px black;
    border-collapse: collapse;
}

table.lined > tbody > tr > th,
table.lined > tbody > tr > td {
    border: solid 1px black;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

table.nolined {
    border: none;
}

.layout {
    border-collapse: collapse;
    border: none;
}

.layout th,
.layout td {
    border: none;
}

/* secure PROV */
/*.verified_report {*/
    /*background-image: url('/static/img/verified.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 100% 0;*/
/*}*/
