{% extends "layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    <h2>About PROMS Server</h2>
    <p>The <a href="http://promsns.org/wiki/proms">PROMS Wiki</a> contains all the PROMS Server documentation and information about all the other PROMS and associated tools.</p>
    <h3>Server details</h3>
    <table class="lined">
        <tr>
            <th>Version:</th><td>{{ VERSION }}</td>
        </tr>
    </table>
    <h3>Contact</h3>
    <p>Contact the authors of this software via the PROMS Wiki link above.</p>
{% endblock %}