{% extends "layout.html" %}

{% block content %}
    <h1>Provenance Management Service</h1>
    {% if ACTIVITY %}
        <h2>An Activity</h2>
        <h3>URI: {{ACTIVITY['uri']}}</h3>
        <table class="lines">
            <tr><th>Title:</th><td>{{ACTIVITY['l']}}</td></tr>
            {% if ACTIVITY['sat'] %}
            <tr><th>Started at:</th><td>{{ACTIVITY['sat']}}</td></tr>
            {% endif %}
            {% if ACTIVITY['eat'] %}
            <tr><th>Ended at:</th><td>{{ACTIVITY['eat']}}</td></tr>
            {% endif %}
            {% if ACTIVITY['waw'] %}
            <tr><th>Was associated with:</th><td>{{ACTIVITY['waw']}}</td></tr>
            {% endif %}
        </table>
    {% elif ACTIVITIES %}
        <h2>Activities Register</h2>
        {% if ACTIVITIES|length == 0 %}
            <p>No Activities found.</p>
        {% else %}
            <ul>
            {% for uri, t in ACTIVITIES.iteritems() %}
                <li><a href="{{PROMS_INSTANCE_NAMESPACE_URI}}id/activity?uri={{uri}}">
                    {% if t -%}
                        {{t}}
                    {% else %}
                        {{uri}}
                    {% endif %}
                    </a>
                    {% if t -%}
                        ({{uri}})
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}