{% extends "template_layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    <h2>An Agent</h2>
    <table class="lined">
        <tr><th>URI:</th><td><a href="{{ agent['uri'] }}">{{ agent['uri'] }}</a></td></tr>
        <tr><th>Name:</th><td>{{agent['label']}}</td></tr>
    </table>
    {% if agent['rs_script'] %}
    <h4>Neighbours view</h4>
        <div id="neighbour_view"></div>
        <script type="text/javascript" src="{{ web_subfolder }}/static/js/raphael-min.js"></script>
        <script type="text/javascript" src="{{ web_subfolder }}/static/js/proms-svg.js"></script>
        <script type="text/javascript">
            {{ agent['rs_script'] | safe}}
        </script>
    {% else %}
        <p>No Agent information found.</p>
    {% endif %}
{% endblock %}
