{% extends "layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    {% if reportingsystems %}
        <h2>ReportingSystems Register</h2>
        {% if reportingsystems|length == 0 %}
            <p>No ReportingSystems found.</p>
        {% else %}
            <ul>
            {% for reportingsystem in reportingsystems %}
                <li><a href="{{ web_subfolder }}/object/?_uri={{ reportingsystem['rs'] }}">
                    {% if reportingsystem['t'] -%}
                        {{reportingsystem['t']}}
                    {% else %}
                        {{reportingsystem['rs_u']}}
                    {% endif %}
                    </a>
                    {% if reportingsystem['t'] -%}
                        ({{ reportingsystem['rs_u'] }})
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>No ReportingSystem information found.</p>
    {% endif %}
{% endblock %}
