{% extends "template_layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    <h2>A ReportingSystem</h2>
    <table class="lined">
        <tr><th>URI:</th><td><a href="{{ reportingsystem['uri'] | quote_plus }}">{{ reportingsystem['uri'] }}</a></td></tr>
        <tr><th>Title:</th><td>{{reportingsystem['title']}}</td></tr>
    </table>
    {% if reportingsystem['rs_script'] %}
    <h4>Neighbours view</h4>
        <div id="neighbour_view"></div>
        <script type="text/javascript" src="{{ web_subfolder }}/static/js/raphael-min.js"></script>
        <script type="text/javascript" src="{{ web_subfolder }}/static/js/proms-svg.js"></script>
        <script type="text/javascript">
            {{ reportingsystem['rs_script'] | safe}}
        </script>
    {% else %}
        <p>No ReportingSystem information found.</p>
    {% endif %}
{% endblock %}
