{% extends "layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    <h2>Endpoints</h2>
    <p>The current registers (lists) of things that provenance reports sent to PROMS describe are:</p>
    <ul>
        <li><a href="{{ WEB_SUBFOLDER }}/id/reportingsystem/">ReportingSystems</a></li>
        <li><a href="{{ WEB_SUBFOLDER }}/id/report/">Reports</a></li>
        <li><a href="{{ WEB_SUBFOLDER }}/id/entity/">Entities</a></li>
        <li><a href="{{ WEB_SUBFOLDER }}/id/activity/">Activities</a></li>
        <li><a href="{{ WEB_SUBFOLDER }}/id/agent/">Agents</a></li>
    </ul>
    <p>SPARQL endpoint for free-range queries:</p>
    <ul>
        <li><a href="{{ WEB_SUBFOLDER }}/function/sparql/">SPARQL Endpoint</a></li>
    </ul>
{% endblock %}
