{% extends "layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    <h2>Home</h2>
    <h4>This is the index page for the PROMS (PROvenance Management System) data store. It contains a database to store provenance data and a series of functions to manage that data.</h4>
    <h4>More About PROMS Server</h4>
    <p>See the <a href="{{ WEB_SUBFOLDER }}/about">About</a> page.</p>
    <h4>Documentation</h4>
    <p>See the <a href="{{ WEB_SUBFOLDER }}/documentation">Documentation</a> page.</p>
{% endblock %}