			<div id="pagination">
				{% if REPORTS %}
					{% set TYPE = 'report' %}
				{% elif REPORTINGSYSTEMS %}
					{% set TYPE = 'reportingsystem' %}
				{% elif ACTIVITIES %}
					{% set TYPE = 'activity' %}
				{% elif ENTITIES %}
					{% set TYPE = 'entity' %}
				{% elif AGENTS %}
					{% set TYPE = 'agent' %}
				{% endif %}
                                {% if TYPE and RESULTS_PER_PAGE %}
					{% if CURRENT_PAGE > 0 %}
						<a href="{{PROMS_INSTANCE_NAMESPACE_URI}}/id/{{TYPE}}/page/{{CURRENT_PAGE-1}}">&lt; Prev</a>
					{% endif %}
					{% if ((CURRENT_PAGE+1)*RESULTS_PER_PAGE)<=RESULTS_COUNT %}
						<a href="{{PROMS_INSTANCE_NAMESPACE_URI}}/id/{{TYPE}}/page/{{CURRENT_PAGE+1}}">Next &gt;</a>
					{% endif %}
				{% endif %}
			</div> <!-- pagination -->
