{% extends "layout.html" %}

{% block content %}
    <h1>PROMS Server</h1>
    {% if REPORT %}
    <div {% if REPORT['verified']%}class="verified_report" {%endif%} >
        <h2>A Report</h2>
        <h3>URI: {{REPORT['uri']}}</h3>

         {% if REPORT['verified'] -%}
          <h3>Signed by {{REPORT['signedby']}}</h3>
        {%else%}
            {% if REPORT['signedby'] %}
                Verification of signature of {{REPORT['signedby']}} failed.  See more
            {%else %}
                No digital signature attached on this report
            {%endif%}
        {% endif %}

        <p><a href="">html</a> | <a href="{{request.path + "?uri=" + REPORT['uri_html'] + "&_format=text/turtle"}}">rdf/turtle</a></p>
        <h4><a class="definition" href={{REPORT['t']}}>{{REPORT['t_str']}}</a> Report</h4>
        <table class="lined">
            <tr><th>Title:</th><td>{{REPORT['l']}}</td></tr>
            <tr><th>Reporting System:</th><td>
                {% if REPORT['rs'] and REPORT['rs_t'] %}
                <a href={{WEB_SUBFOLDER}}/id/reportingsystem/?uri={{REPORT['rs']}}>{{REPORT['rs_t']}}</a>
                {% elif REPORT['rs'] %}
                <a href={{WEB_SUBFOLDER}}/id/reportingsystem/?uri={{REPORT['rs']}}>{{REPORT['rs_u']}}</a>
                {% else %}
                No ReportingSystem Registered
                {% endif %}
            </td></tr>
            <tr><th>Job ID:</th><td>{{REPORT['id']}}</td></tr>
        </table>
        {% if REPORT['r_script'] %}
            <h4>Neighbours view</h4>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="{{WEB_SUBFOLDER}}/static/js/raphael-min.js" charset="utf-8"></script>
            <script type="text/javascript" src="{{WEB_SUBFOLDER}}/static/js/proms-svg.js" charset="utf-8"></script>
            <script>
                {{REPORT['r_script'] | safe}}
            </script>
        {% endif %}
    </div>
    {% elif REPORTS %}
        <h2>Reports Register</h2>
        {% if REPORTS|length == 0 %}
            <p>No Reports found.</p>
        {% else %}
            <ul>
            {% for report in REPORTS %}
                <li><a href="{{WEB_SUBFOLDER}}/id/report/?uri={{report['r']}}">
                    {% if report['t'] -%}
                        {{report['t']}}
                    {% else %}
                        {{report['r_u']}}
                    {% endif %}
                    </a>
                    {% if report['t'] -%}
                        ({{report['r_u']}})
                    {% endif %}

                     {% if report['signedby'] -%}
                       created by {{report['signedby']}}
                    {% endif %}

                </li>
            {% endfor %}
            </ul>
        {% endif %}
     {#
        {% if SIGNED_REPORTS|length == 0 %}
            <p>No Reports found.</p>
        {% else %}
            <h2>Signed Reports</h2>
            <ul>
            {% for signed_report in SIGNED_REPORTS %}
                 {% if signed_report['creator'] -%}
                <li>
                    {% if signed_report['uri'] -%}
                        {{signed_report['uri']}}
                    {% endif %}


                    | {{signed_report['creator']}}  |


                    {% if signed_report['signed_report'] -%}
                       <span title="{{signed_report['signed_report']}}">Signature</span>
                    {% endif %}
                    |
                     {% if signed_report['verified'] -%}
                       Signature verified
                     {%else%}
                        Signature verify failed
                    {% endif %}

                </li>
                {%endif%}
            {% endfor %}
            </ul>
        {% endif %}
    #}
    {% else %}
        <p>No Report information found.</p>
    {% endif %}
{% endblock %}
